
:root>* {
    --md-default-bg-color: rgb(254, 233, 235); /*Added by Marielle*/
    --md-footer-bg-color: rgb(254, 233, 235);
    --md-footer-fg-color: rgb(32, 32, 32);
    --md-footer-bg-color--dark: white;
    --md-footer-fg-color--lighter:  rgb(32, 32, 32);
    --md-footer-fg-color--light:  rgb(32, 32, 32);
    --mdc-typography-headline6-font-family: 'IBM Plex Sans', sans-serif;
    --mdc-typography-font-family: 'IBM Plex Sans', sans-serif;
    --md-typeset-a-color: rgb(51, 66, 160);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

h2{
  font-family: 'Rubik Mono One', sans-serif;
}

.md-typeset h2 {
    font-family: 'Rubik Mono One'; /*Added by Marielle*/
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

/*END OF CSS PRESET*/
